.RedBox{
  background-color: #ED6F71; /*Light red background*/
}

.disabled {
	pointer-events: none;  /*Used to make imges unclikable*/
}

.top-buffer {
margin-top:20px; /*Space between cards*/
   }

img {
border-radius: 15%;  /*cutting corners of images*/
}
